.header__menu-link {
    margin: 0 18px 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #111;
}

@media screen {
    .header__menu-link:hover {
        cursor: pointer;
        opacity: .3;
    }
}